doctype html
html(lang='pt-br')
  head
    title React Weather
    meta(charset='UTF-8')
    meta(name="theme-color",content="#000000")    
    meta(name='viewport',content='width=device-width, initial-scale=1')
    meta(name="description",content="Reactjs with openweathermap")
    <!-- Social: Twitter -->  
    meta(name="twitter:card",content="summary_large_image")  
    meta(name="twitter:site",content="link do site")
    meta(name="twitter:title",content="React Weather") 
    meta(name="twitter:description",content="Reactjs with openweathermap")
    <!-- Social: Facebook / Open Graph -->   
    meta(name="fb:admins",content="id page")
    meta(name="og:url",content="link do site")
    meta(name="og:type",content="website")
    meta(name="og:title",content="React Weather")
    meta(name="og:image",content="imagem ou logo")
    meta(name="og:description",content="Reactjs with openweathermap")
    meta(name="og:site_name",content="CDA") 
    <!-- Social: Google+ / Schema.org  -->
    meta(itemprop="name",content="CDA")
    meta(itemprop="description",content="Reactjs with openweathermap")
    meta(itemprop="image",content="imagem ou logo")  
    link(rel='stylesheet', href='assets/css/main.css')
  body
    section.gl
      block content
    script(src='assets/js/basket.min.js')   
    script(type='text/javascript').
      basket.clear();
      basket.require({ url: 'assets/js/main.js',unique: 'v1'})  