@font-face {
  font-family: "ubuntu_light";
  src: url("../fonts/ubuntu_light.eot");
  src: url("../fonts/ubuntu_light.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu_light.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu_regular";
  src: url("../fonts/ubuntu_regular.eot");
  src: url("../fonts/ubuntu_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu_regular.ttf") format("truetype");
}
@font-face {
  font-family: "Climacons-Font";
  src: url("../fonts/climacons-webfont.eot");
  src: url("../fonts/climacons-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/climacons-webfont.ttf") format("truetype"), url("../fonts/climacons-webfont.svg#Climacons-Font") format("svg");
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header,
nav,
footer,
section,
article,
aside {
  display: block;
}
img {
  border: none;
}
p,
span,
label,
td,
li,
dt,
dd {
  color: #000;
  font: 1em/1.3em ubuntu_light;
}
strong {
  font-family: ubuntu_regular;
}
html,
body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  background: #000;
  font-family: ubuntu_light;
  font-size: 14px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: ubuntu_light;
  font-weight: normal;
  line-height: 1.2em;
}
h1 {
  font-size: 1.6em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.15em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
}
a {
  color: color_ui1_links1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
small {
  font-size: 0.8em;
}
abbr {
  border-bottom: 1px dotted color_ui1_border_pattern1;
}
code {
  background: #efefef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid color_ui1_border_pattern1;
  font: 0.9em/1.15em ubuntu_light;
  padding: 2px 4px;
}
address {
  font-style: normal;
}
blockquote {
  border-left: 5px solid color_ui1_border_pattern1;
  padding: 8px 10px;
}
blockquote p:last-child {
  margin: 0;
}
ul,
ol {
  padding: 0 0 0 30px;
}
ul ul {
  margin: 10px 0;
}
dt {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
thead tr {
  background: bg_patter5;
}
thead th {
  color: #000;
  font: 1em/1.2em ubuntu_light;
  padding: 19px 12px;
  text-align: left;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
tbody td,
tfoot td {
  padding: 10px 12px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
tfoot td {
  font: bold 13px/18px ubuntu_light;
}
select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=color] {
  background: none;
  border: 0;
  color: #000;
  display: block;
  font-family: ubuntu_light;
  font-size: 1.1em;
  height: 38px;
  outline: none;
  padding: 5px;
  width: 100%;
}
::-webkit-input-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000;
}
:-moz-placeholder {
  color: #000;
}
:-ms-input-placeholder {
  color: #000;
}
:-ms-input-placeholder label {
  cursor: pointer;
  margin: 0;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 3px 0 0;
  height: 16px;
  width: 16px;
}
fieldset {
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
legend {
  color: #58585a;
}
label {
  color: #000;
  display: block;
  margin: 5px 0 0 0;
}
select {
  height: 2.6em;
  line-height: 1em;
  width: 100%;
}
select[multiple] {
  height: auto;
}
textarea {
  font-family: ubuntu_light;
  height: auto;
}
input[type=submit],
button {
  border: none;
  cursor: pointer;
  display: block;
  text-align: left;
}
.cl,
.row {
  *zoom: 1;
}
.cl:before,
.row:before,
.cl:after,
.row:after {
  content: "";
  display: table;
}
.cl:after,
.row:after {
  clear: both;
}
.cn {
  margin: 0 auto;
  position: relative;
  width: 980px;
}
.gl {
  height: 100%;
  position: relative;
  width: 100%;
}
.img_resp {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
  width: 100%;
}
.ul_main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul_main li {
  display: block;
}
.ul_main a {
  text-decoration: none;
}
.ul_main a:hover {
  text-decoration: none;
}
.ul_main_float li {
  float: left;
}
.ul_main_center {
  text-align: center;
}
.ul_main_center li {
  display: inline-block;
}
.table_vertical,
.table_horizontal,
.table_bordered {
  border: 1px solid #e8e8e8;
}
.table_vertical th,
.table_vertical td {
  border-left: 1px solid #e8e8e8;
}
.table_vertical th:first-child,
.table_vertical td:first-child {
  border-left: none;
}
.table_horizontal td {
  border-top: 1px solid #e8e8e8;
}
.table_bordered th,
.table_bordered td {
  border-left: 1px solid #e8e8e8;
}
.table_bordered th:first-child,
.table_bordered td:first-child {
  border-left: none;
}
.table_bordered td {
  border-top: 1px solid #e8e8e8;
}
.table_striped tbody tr {
  background: #fe5621;
}
.table_striped tbody tr:nth-child(2n-1) {
  background: #fe5621;
}
.table_hover tbody tr:hover {
  background: #fe5621;
}
.btn {
  background: #fe5621;
  color: #000;
  cursor: pointer;
  display: block;
  font: 1.1em/2.3em ubuntu_light;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_inline .form_group {
  margin: 0 5px 0 0;
}
.form_inline .form_group input {
  margin: 0;
}
.form_inline .checkbox,
.form_inline .radio {
  margin: 8px 5px 0 0;
}
.form_inline .btn {
  margin: 0;
}
.form_inline .form_group,
.form_inline .checkbox,
.form_inline .radio,
.form_inline .btn {
  float: left;
}
.form_horizontal .form_group label,
.form_horizontal .form_group input {
  float: left;
}
.form_horizontal .form_group label {
  margin: 0 5px 0 0;
  line-height: 2.2em;
  text-align: right;
  width: 15%;
}
.form_horizontal .form_group input {
  margin: 0;
  width: 60%;
}
.form_group_inline .checkbox,
.form_group_inline .radio {
  float: left;
  margin: 0 8px 0 0;
}
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  margin: -18px 0 0 -18px;
  border: 3px solid #fe5621;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border-color: transparent #fe5621;
  -webkit-animation: rot 1s linear infinite;
  animation: rot 1s linear infinite;
}
@-moz-keyframes rot {
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rot {
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes rot {
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rot {
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.app {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -150px;
  width: 300px;
  height: 250px;
}
.weather,
.weatherin {
  width: 100%;
  height: 100%;
}
.weather {
  position: relative;
}
.weatherin,
.header_weather {
  padding: 5px 0 0 0;
}
.weatherin h1,
.header_weather h1,
.weatherin p,
.header_weather p,
.weatherin span,
.header_weather span {
  color: #fe5621;
  text-align: center;
}
.weatherin h1,
.header_weather h1 {
  font-size: 1.2em;
}
.info_weather .iconweather {
  color: #fe5621;
  font-size: 6em;
  line-height: 1.3em;
  margin: 10px 0 0 0;
  text-align: center;
}
.info_weather .celsius_maxmin {
  text-align: center;
}
.info_weather .celsius_maxmin span {
  color: #fe5621;
  font: 1.3em/1.2em ubuntu_regular;
}
.ul_weather {
  margin: 6px 0 0 0;
  width: 100%;
  height: 60px;
}
.ul_weather li,
.ul_weather span {
  color: #fe5621;
}
.ul_weather li {
  cursor: pointer;
  width: 14.285714286%;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ul_weather .iconweather {
  font-size: 1.4em;
  margin: 2px 0 0 0;
}
.ul_weather .celsius_maxmin {
  line-height: 1.2em;
  margin: 3px 0 0 0;
}
.ul_weather .celsius_maxmin span {
  font-size: 0.9em;
}
.ul_weather .selected,
.ul_weather .selected span {
  color: #000;
}
.ul_weather .selected {
  background: #fe5621;
}
.hidden {
  display: none;
}
.r {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.t {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.block_active {
  display: block;
}
.none_active {
  display: none;
}
.row {
  position: relative;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col13,
.col14,
.col15,
.col16,
.col17 {
  float: left;
}
.col1 {
  width: 10%;
}
.col2 {
  width: 15%;
}
.col3 {
  width: 20%;
}
.col4 {
  width: 25%;
}
.col5 {
  width: 30%;
}
.col6 {
  width: 33.33%;
}
.col7 {
  width: 40%;
}
.col8 {
  width: 50%;
}
.col9 {
  width: 60%;
}
.col10 {
  width: 65%;
}
.col11 {
  width: 66%;
}
.col12 {
  width: 70%;
}
.col13 {
  width: 75%;
}
.col14 {
  width: 80%;
}
.col15 {
  width: 85%;
}
.col16 {
  width: 90%;
}
.col17 {
  float: none;
  width: 100%;
}
.ic {
  background-image: url("../img-sprites.png");
}
.ic_casa {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 13px;
  height: 13px;
}
.climacon:before {
  font-family: 'Climacons-Font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.climacon.cloud:before {
  content: "\e000";
}
.climacon.cloud.sun:before {
  content: "\e001";
}
.climacon.cloud.moon:before {
  content: "\e002";
}
.climacon.rain:before,
.climacon.rain.cloud:before {
  content: "\e003";
}
.climacon.rain.sun:before,
.climacon.rain.cloud.sun:before {
  content: "\e004";
}
.climacon.rain.moon:before,
.climacon.rain.cloud.moon:before {
  content: "\e005";
}
.climacon.showers:before,
.climacon.showers.cloud:before {
  content: "\e006";
}
.climacon.showers.sun:before,
.climacon.showers.cloud.sun:before {
  content: "\e007";
}
.climacon.showers.moon:before,
.climacon.showers.cloud.moon:before {
  content: "\e008";
}
.climacon.downpour:before,
.climacon.downpour.cloud:before {
  content: "\e009";
}
.climacon.downpour.sun:before,
.climacon.downpour.cloud.sun:before {
  content: "\e00a";
}
.climacon.downpour.moon:before,
.climacon.downpour.cloud.moon:before {
  content: "\e00b";
}
.climacon.drizzle:before,
.climacon.drizzle.cloud:before {
  content: "\e00c";
}
.climacon.drizzle.sun:before,
.climacon.drizzle.cloud.sun:before {
  content: "\e00d";
}
.climacon.drizzle.moon:before,
.climacon.drizzle.cloud.moon:before {
  content: "\e00e";
}
.climacon.sleet:before,
.climacon.sleet.cloud:before {
  content: "\e00f";
}
.climacon.sleet.sun:before,
.climacon.sleet.cloud.sun:before {
  content: "\e010";
}
.climacon.sleet.moon:before,
.climacon.sleet.cloud.moon:before {
  content: "\e011";
}
.climacon.hail:before,
.climacon.hail.cloud:before {
  content: "\e012";
}
.climacon.hail.sun:before,
.climacon.hail.cloud.sun:before {
  content: "\e013";
}
.climacon.hail.moon:before,
.climacon.hail.cloud.moon:before {
  content: "\e014";
}
.climacon.flurries:before,
.climacon.flurries.cloud:before {
  content: "\e015";
}
.climacon.flurries.sun:before,
.climacon.flurries.cloud.sun:before {
  content: "\e016";
}
.climacon.flurries.moon:before,
.climacon.flurries.cloud.moon:before {
  content: "\e017";
}
.climacon.snow:before,
.climacon.snow.cloud:before {
  content: "\e018";
}
.climacon.snow.sun:before,
.climacon.snow.cloud.sun:before {
  content: "\e019";
}
.climacon.snow.moon:before,
.climacon.snow.cloud.moon:before {
  content: "\e01a";
}
.climacon.fog:before,
.climacon.fog.cloud:before {
  content: "\e01b";
}
.climacon.fog.sun:before,
.climacon.fog.cloud.sun:before {
  content: "\e01c";
}
.climacon.fog.moon:before,
.climacon.fog.cloud.moon:before {
  content: "\e01d";
}
.climacon.haze:before {
  content: "\e01e";
}
.climacon.haze.sun:before {
  content: "\e01f";
}
.climacon.haze.moon:before {
  content: "\e020";
}
.climacon.wind:before {
  content: "\e021";
}
.climacon.wind.cloud:before {
  content: "\e022";
}
.climacon.wind.sun:before,
.climacon.wind.cloud.sun:before {
  content: "\e023";
}
.climacon.wind.moon:before,
.climacon.wind.cloud.moon:before {
  content: "\e024";
}
.climacon.lightning:before,
.climacon.lightning.cloud:before {
  content: "\e025";
}
.climacon.lightning.sun:before,
.climacon.lightning.cloud.sun:before {
  content: "\e026";
}
.climacon.lightning.moon:before,
.climacon.lightning.cloud.moon:before {
  content: "\e027";
}
.climacon.sun:before {
  content: "\e028";
}
.climacon.sun.set:before,
.climacon.sunset:before {
  content: "\e029";
}
.climacon.sun.rise:before,
.climacon.sunrise:before {
  content: "\e02a";
}
.climacon.sun.low:before,
.climacon.sun-low:before,
.climacon.low-sun:before {
  content: "\e02b";
}
.climacon.sun.lower:before,
.climacon.sun-lower:before,
.climacon.lower-sun:before {
  content: "\e02c";
}
.climacon.moon:before {
  content: "\e02d";
}
.climacon.moon.new:before {
  content: "\e02e";
}
.climacon.moon.waxing.crescent:before,
.climacon.moon.first-crescent:before {
  content: "\e02f";
}
.climacon.moon.waxing.quarter:before,
.climacon.moon.first-quarter:before,
.climacon.moon.waxing.half:before,
.climacon.moon.first-half:before {
  content: "\e030";
}
.climacon.moon.waxing.gibbous:before,
.climacon.moon.first-gibbous:before,
.climacon.moon.waxing.three-quarter:before,
.climacon.moon.first-three-quarter:before {
  content: "\e031";
}
.climacon.moon.full:before {
  content: "\e032";
}
.climacon.moon.waning.gibbous:before,
.climacon.moon.last-gibbous:before,
.climacon.moon.waning.three-quarter:before,
.climacon.moon.last-three-quarter:before {
  content: "\e033";
}
.climacon.moon.waning.quarter:before,
.climacon.moon.last-quarter:before,
.climacon.moon.waning.half:before,
.climacon.moon.last-half:before {
  content: "\e034";
}
.climacon.moon.waning.crescent:before,
.climacon.moon.last-crescent:before {
  content: "\e035";
}
.climacon.snowflake:before {
  content: "\e036";
}
.climacon.tornado:before {
  content: "\e037";
}
.climacon.thermometer.empty:before,
.climacon.thermometer:before {
  content: "\e038";
}
.climacon.thermometer.low:before {
  content: "\e039";
}
.climacon.thermometer.medium-low:before {
  content: "\e03a";
}
.climacon.thermometer.medium-high:before {
  content: "\e03b";
}
.climacon.thermometer.high:before {
  content: "\e03c";
}
.climacon.thermometer.full:before {
  content: "\e03d";
}
.climacon.celcius:before {
  content: "\e03e";
}
.climacon.farenheit:before {
  content: "\e03f";
}
.climacon.compass:before {
  content: "\e040";
}
.climacon.compass.north:before {
  content: "\e041";
}
.climacon.compass.east:before {
  content: "\e042";
}
.climacon.compass.south:before {
  content: "\e043";
}
.climacon.compass.west:before {
  content: "\e044";
}
.climacon.umbrella:before {
  content: "\e045";
}
.climacon.sunglasses:before {
  content: "\e046";
}
.climacon.cloud.cycle:before,
.climacon.cloud.refresh:before {
  content: "\e047";
}
.climacon.cloud.down:before,
.climacon.cloud.download:before {
  content: "\e048";
}
.climacon.cloud.up:before,
.climacon.cloud.upload:before {
  content: "\e049";
}
