//APP
.app
 absolute 50% false false 50%
 margin -150px 0 0 -150px	
 size 300px
.weather,.weatherin
 size 100%	
.weather
 position relative	
.weatherin
 background bg_1	
 border-radius 10px
.header_weather
 padding 5px 0 0 0	
 h1,p 
  text-align center	
 h1 
  font-size 1.2em
.info_weather
 .iconweather
  font-size 6em
  margin 10px 0 0 0
  text-align center