//Font
font_1=ubuntu_light
font_2=ubuntu_regular
//background
bg_1=#ffffff
bg_2=#c0392b
//Color Fonts
color_1=#000000
//Border 
border_1=#e8e8e8
border_2=#ECF0F1
//Links 
colorlinks_1=#3498DB
//Houver tr
borderhover_1=#ECF0F1
