//Font
font_1=ubuntu_light
font_2=ubuntu_regular
//background
bg_1=#FE5621
bg_2=#000000
bg_3=#ffffff
//Color Fonts
color_1=#000000
color_2=#FE5621
//Border 
border_1=#e8e8e8
border_2=#FE5621
//Links 
colorlinks_1=#3498DB
//Houver tr
borderhover_1=#ECF0F1
